<p class="toc">TOC</p>
<div id="toc">
<ul>
  <li><a href="#definitions">Definitions</a></li>
    <ul>
    <li><a href="#connectors">Connectors</a></li>
    <li><a href="#data-hubs">Data Hubs</a></li>
    <li><a href="#workflows">Work Flows</a></li>
    <li><a href="#api-gateway">API Gateway</a></li>
    <li><a href="#endpoints">Endpoints</a></li>
    <li><a href="#version-control">Version Control</a></li>
    <li><a href="#central-index">Central Index</a></li>
    </ul>
  <li><a href="#connectors-1">Connectors</a></li>
    <ul>
      <li><a href="#adding-a-connector-to-your-environment">Adding A Connector to Your Environment</a></li>
      <li><a href="#managing-an-existing-connector">Managing an Existing Connector</a></li>
    </ul>
  <li><a href="#data-hubs-1">Data Hubs</a></li>
    <ul>
      <li><a href="#add-endpoint">Add Endpoint</a></li>
      <li><a href="#manage-drop-downs">Manage Drop Downs</a></li>
      <li><a href="#view-code">View Code</a></li>
      <li><a href="#view-current-draftlive">View Current Draft/Live</a></li>
      <li><a href="#deploy">Deploy</a></li>
      <li><a href="#delete-data-hub">Delete Data Hub</a></li>
    </ul>
  <li><a href="#workflows-1">Work Flows</a></li>
    <ul>
      <li><a href="#add-trigger">Add Trigger</a></li>
      <li><a href="#add-steps">Add Steps</a></li>
      <li><a href="#add-actions">Add Actions</a></li>
    </ul>
  <li><a href="#api-gateway-1">API Gateway</a></li>
    <ul>
      <li><a href="#data-providers">Data Providers</a></li>
      <li><a href="#vendor-webhooks">Vendor Webhooks</a></li>
      <li><a href="#key-replications">Key Replications</a></li>
      <li><a href="#activity-types">Activity Types</a></li>
    </ul>
  <li><a href="#endpoint-configuration">Endpoint Configuration</a></li>
    <ul>
      <li><a href="#data-source">Data Source</a></li>
      <li><a href="#filters">Filters</a></li>
      <li><a href="#scheduler">Scheduler</a></li>
      <li><a href="#simple-maps">Simple Maps</a></li>
      <li><a href="#nested-maps">Nested Maps</a></li>
      <li><a href="#variables">Variables</a></li>
    </ul>
  <li><a href="#endpoint-relationships">Endpoint Relationships</a></li>
  <li><a href="#deployment">Deployment</a></li>
    <ul>
      <li><a href="#monitoring">Message Logs</a></li>
    </ul>
  <li><a href="#individual-connector-instructions">Individual Connector Instructions</a></li>
</ul>
</div>
