/**
 * Site header
 */
.tc-swosh {
  background-color:$tc-brand-color;

}

.tc-swosh-container svg {
  z-index:-1;
  width: calc(100% + 1.3px);
  height:50px;
}

.tc-swosh-container {
  z-index:2;
  background-color:$tc-brand-color;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tc-swosh-shape-fill {
  fill:#fdfdfd;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.title-text {
  color:#4A1AAF;
  display:block;
  width:80%;
  float:left;
  margin-bottom:30px;
  font-size:$base-font-size * 1.55;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 1px;
}
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  border-style:solid;
  border-width:0px;
  border-color:#2c2929;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
  z-index: 100;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-logo {
  float:left;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}



.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  a.page-link {
    color:$text-color;
    line-height: $base-line-height;
    padding:12px 20px;
    text-decoration: none;
    letter-spacing:.5px;
  }

  a:hover.page-link {
    color:$text-color-active;
    line-height: $base-line-height;
  }

  a:hover.page-link::after {
    height:1px;
    width:100%;
    background-color:$text-color-active;
    content:"";
    bottom:0;
    display:block;
    position:absolute;
    box-sizing:border-box;
    left:0;
    z-index: 2;
  }

  a:active.page-link::after {
    height:1px;
    width:100%;
    background-color:$text-color-active;
    content:"";
    bottom:0;
    display:block;
    position:absolute;
    box-sizing:border-box;
    left:0;
    z-index: 2;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    position:relative;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }


  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color:#f0f0f0;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * App content
*/

p strong {
  font-variant-caps: normal;
  letter-spacing:1px;
  text-transform: uppercase;
  color:#8062bf;
  font-size:18px;
  font-weight:600;
  margin-top: 25px;
  display: block;
}

.post-content p {
  margin-bottom:0px;
}


/**
 * Page content
 */
.page-content {
  /* padding: $spacing-unit 0; */
  padding:0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    color:$tc-brand-color;
    font-weight:600;
    letter-spacing:1px;
    border-bottom: solid 2px;
    margin-top: 25px;
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    font-variant-caps: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8062bf;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    margin-bottom:0px;
  }
}
.left-column {
  max-width:200px;
  min-width:150px;
  float:left;
}
.right-column {
  max-width:470px;
  margin:0px 25px;
  float:left;
}

#definitions {
  margin-top:0px;
  line-height:1em;
}
.toc {
    font-variant-caps: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8062bf;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
    display: block;
}

#toc ul {
  margin-bottom:0px;
}
